[submodule "typeshed"]
	path = typeshed
	url = https://github.com/python/typeshed
[submodule "zuban_python/tests/mypylike/mypy"]
	path = zuban_python/tests/mypylike/mypy
	url = https://github.com/davidhalter/mypy
