[submodule "typeshed"]
	path = typeshed
	url = https://github.com/python/typeshed
[submodule "crates/zuban_python/tests/mypylike/mypy"]
	path = crates/zuban_python/tests/mypylike/mypy
	url = https://github.com/davidhalter/mypy
