name: Build wheels

env:
  DEPLOY_DIR: "deploy/pypi/zuban"
  DEFAULT_ARCH: "x64"

defaults:
  run:
    shell: bash
    working-directory: "deploy/pypi/zuban"

on:
  workflow_call:
    inputs:
      python_version:
        default: "3.11"
        required: false
        type: string

jobs:
  build:
    strategy:
      matrix:
        t:
          - os: ubuntu-24.04
            arch: x64
            target: x86_64-unknown-linux-gnu
            test: native

          - os: ubuntu-24.04-arm
            arch: arm64
            target: aarch64-unknown-linux-gnu
            test: native
            # see https://github.com/astral-sh/ruff/issues/3791
            # and https://github.com/gnzlbg/jemallocator/issues/170#issuecomment-1503228963
            maturin_docker_options: -e JEMALLOC_SYS_WITH_LG_PAGE=16

          # The macos-15-intel runner still supports x64, see https://github.com/actions/runner-images/issues/13045
          - os: macos-15-intel
            arch: x64
            target: x86_64
            test: native
          - os: macos-latest
            arch: arm64
            target: aarch64
            test: native

          - os: windows-2022
            arch: x64
            target: x86_64-pc-windows-msvc
            test: native
          - os: windows-2022
            arch: x86
            target: i686-pc-windows-msvc
            test: native

          # manylinux armv7 / x86 (i686)
          - os: ubuntu-24.04-arm
            target: armv7-unknown-linux-gnueabihf
            test: container
            image: python:${{ inputs.python_version }}-slim-trixie
            docker_options: --platform linux/arm/v7
          - os: ubuntu-24.04
            target: i686-unknown-linux-gnu
            test: container
            image: python:${{ inputs.python_version }}-slim-trixie
            docker_options: --platform linux/i386

          # musllinux armv7 / aarch64 (arm64) / x64 (amd64) / x86 (i686)
          - os: ubuntu-24.04-arm
            target: armv7-unknown-linux-musleabihf
            manylinux: musllinux_1_2
            test: container
            image: python:${{ inputs.python_version }}-alpine
            docker_options: --platform linux/arm/v7
            install_cmd: apk add bash
          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-musl
            # see https://github.com/astral-sh/ruff/issues/3791
            # and https://github.com/gnzlbg/jemallocator/issues/170#issuecomment-1503228963
            maturin_docker_options: -e JEMALLOC_SYS_WITH_LG_PAGE=16
            manylinux: musllinux_1_2
            test: container
            image: python:${{ inputs.python_version }}-alpine
            docker_options: --platform linux/arm64
            install_cmd: apk add bash
          - os: ubuntu-24.04
            target: x86_64-unknown-linux-musl
            manylinux: musllinux_1_2
            test: container
            image: python:${{ inputs.python_version }}-alpine
            docker_options: --platform linux/amd64
            install_cmd: apk add bash
          - os: ubuntu-24.04
            target: i686-unknown-linux-musl
            manylinux: musllinux_1_2
            test: container
            image: python:${{ inputs.python_version }}-alpine
            docker_options: --platform linux/i386
            install_cmd: apk add bash
    runs-on: ${{ matrix.t.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          persist-credentials: false
      - uses: Swatinem/rust-cache@f0deed1e0edfc6a9be95417288c0e1099b1eeec3
        with:
          # The target is needed, because there were issues when reusing
          # caches, probably related to cross compiling.
          key: "swatinem-${{ matrix.t.target }}"
      - name: "Pre-Build"
        run: ./pre-maturin-build.sh
      - name: "Build Wheel"
        uses: PyO3/maturin-action@v1
        with:
          target: ${{ matrix.t.target }}
          working-directory: ${{ env.DEPLOY_DIR }}
          docker-options: ${{ matrix.t.maturin_docker_options }}
          manylinux: ${{ matrix.t.manylinux || 'auto' }}
          args: --release --locked --out dist --ignore-rust-version

      - name: "Setup Python ${{ inputs.python_version }} (native)"
        uses: actions/setup-python@v5
        if: matrix.t.test == 'native'
        with:
          python-version: ${{ inputs.python_version }}
          architecture: ${{ matrix.t.arch || env.DEFAULT_ARCH }}
      - name: "Test wheel (native)"
        if: matrix.t.test == 'native'
        run: |
          ./test-maturin-build.sh

      - name: "Test wheel (container)"
        if: matrix.t.test == 'container'
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace ${{ matrix.t.docker_options }} \
            ${{ matrix.t.image }} \
            sh -c "
              ${{ matrix.t.install_cmd }}
              cd ${{ env.DEPLOY_DIR }}
              python3 -m venv venv &&
              . ./venv/bin/activate &&
              ./test-maturin-build.sh
            "

      - name: "Upload wheel as a GitHub Artifact"
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.t.os }}-${{ matrix.t.target }}
          path: "${{ env.DEPLOY_DIR }}/dist"
